<div class="container mx-auto justify-center min-h-screen flex flex-col items-center">
  <%= render 'header',
            first_link: link_to('Meu Perfil', jobs_path),
            second_link: button_to('Sair', destroy_employer_session_path, method: :delete) %>
  
  <h2 class="text-center text-2xl font-semibold text-green-600">Todas as candidaturas</h2>
  
  <hero class="w-11/12 xl:w-full lg:px-8 mx-auto mt-5 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6">
    <% @applyers.map do |applyer| %>
      <div class="p-4 rounded-md bg-white shadow-md text-start">
        <%= applyer.email %>
        <%= applyer.created_at%>
      </div>
    <% end %>
  </hero>
</div>