<div class="container mx-auto min-h-screen flex flex-col items-center">
  <%= render 'header',
              first_link: link_to('Meu Perfil', job_seeker_path(current_job_seeker)),
              second_link: link_to('Sair', destroy_job_seeker_session_path) %>

  <main class="w-full xl:w-3/4 bg-white shadow-lg rounded-lg p-8 mt-32">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-100 mb-5 text-green-500 text-center font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'job_information', job: @job %>
  </main>

  <div class="max-lg:hidden mt-8">
    <%= link_to 'Voltar para Vagas', start_path, class: 'text-green-600 bg-green-200 hover:bg-green-300 py-3 p-4 rounded-md text-md font-bold' %>
  </div>
</div>
